<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arcos.CUC.WorkOrdersInfrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Arcos.CUC.WorkOrdersInfrastructure.Properties.Settings>
            <setting name="companyDatabaseConnection" serializeAs="String">
                <value>Server=CUCSQL01;Database=HTE_DATA;Trusted_Connection=true</value>
            </setting>
            <setting name="providerName" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>http://192.168.18.13:81/HTEPGMT/W3OSWRJOIC</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value>crmwork</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>arcos</value>
            </setting>
        </Arcos.CUC.WorkOrdersInfrastructure.Properties.Settings>
    </applicationSettings>
</configuration>